# OS 
*.DS_Store

# docs
notes.md

# dev
CLAUDE.md
.idea/
.claude/
.vscode/
node_modules/
dist/
build/
coverage/
*.log
.env
*.env.local
*.env.development
*.env.test
*.env.production
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.sln       

# codebase 
backend/PocketED.Api/bin/Debug/net10.0/PocketED.Api.pdb
backend/PocketED.Api/obj/Debug/net10.0/PocketED.Api.AssemblyInfo.cs
backend/PocketED.Api/obj/Debug/net10.0/PocketED.Api.AssemblyInfoInputs.cache
backend/PocketED.Api/obj/Debug/net10.0/PocketED.Api.pdb
backend/PocketED.Api/obj/Debug/net10.0/PocketED.Api.sourcelink.json
backend/PocketED.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
backend/PocketED.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
backend/PocketED.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
backend/PocketED.Api/pocketed.db-shm
backend/PocketED.Api/pocketed.db-wal